/*Home Page*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration:none;
}
body{
    margin:0px;
}
/*Header*/
nav{
    background-color: #ffffff;
    height: 200px;
    width:100%;
}
img.logo{
    line-height:20px;
    padding: 0 1px;
}
div.iconHeader{
    float: right;
    line-height: 50px;
    margin-right: 100px;
    margin-top: 50px;
    cursor:pointer;
}
.iconHeader i{
    margin: 0px 5px;
}
/*Navigation bar*/
.navBarList{
    background-color: #38A3A5;
    font-family:'Poppins';
    float: right;
    margin-right: 5px;
    margin-top:-150px;
    border-radius: 5px;
}
.navBarList li{
    display:inline-block;
    line-height: 50px;
    margin: 0px 50px;
}
.navBarList li a{
    list-style: none;
    color: #ffffff;
}
/*Hero section*/
section.hero{
    padding: 100px 0px 150px 0px;
    background-image: url("https://github.com/Adeboye22/alxProject-rophekaFoundation.github.io/blob/ef850c4ec11402e07da18074582a8baa921a8105/Images/floodImage-4.jpeg");
    background-size:cover;
    width:98%;
    left: 10px;
    right:10px;
    background-position-y: center;
    text-align: center;
    position:relative;
    overflow:hidden;
}
.heroOverlay{
    position:absolute;
    top:0;
    left:0;
    height: 100%;
    width:100%;
    overflow: hidden;
    background: rgba(245, 245, 245, 0.715);
    text-align:center;
}
div.hero_1{
    font-family:'Inter';
    color:#22577A;
    font-weight: 500px;
    font-size: 50px;
    text-align: center;
    margin: 60px 0px 0px 0px
}
button.hero_2{
    margin: 40px 0px 0px 0px;
    padding:10px 30px 10px 30px;
    border-radius: 5px;
    border-color:#ffffff00;
    font-size:20px;
    font-family: 'Inter';
    background-color: #22577A;
    color:white;
    cursor: pointer;
}
/*About us section*/
section.aboutUs h1{
    font-family: 'Inter';
    padding:50px 0px 0px 0px;
    text-align: center;
    font-size:30px;
}
section.aboutUs div.aboutUs_1{
    font-family: 'Inter';
    text-align:justify;
    word-spacing: 2px;
    line-height: 25px;
    padding: 20px 40px 0px 40px;
    font-size:18px;
}
article.aboutUs_2{
    background-image: url("/Images/floodImage-1.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position-y:center;
    margin:100px 0px 0px 0px;
    padding:0px 15px 0px 15px;
    width:100%;
    height:300px;
    position:relative
}
article.aboutUs_2-overlay{
    position:absolute;
    top:0;
    left:0;
    height: 100%;
    width:100%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.244);
    text-align:center;
}
div.aboutUs_3{
    font-family:'Inter';
    font-size: 18px;
    text-align:center;
    padding: 70px 0px 0px 0px;
    word-spacing: 2px;
    width:100%;
}
div.aboutUs_4{
    justify-content: center;
    padding:30px 0px 0px 0px;
    margin:0% 0% 0% 45%;
}
div.aboutUs_4 button{
    padding: 10px 30px 10px 30px;
    border-radius: 4px;
    border-color: rgba(0, 0, 0, 0);
    background-color: #22577A;
    color:white;
    font-family: 'Inter';
    font-size: 18px;
    word-spacing: 2px;
    cursor:pointer;
}
/*Footer section*/
footer{
    border-top: solid 1px rgba(128, 128, 128, 0.242);
    background-color:#38A3A5;
    margin:90px 0px 0px 0px;
    padding:30px 0px 0px 0px;
}
.footer_1{
    font-family: 'Inter';
    text-align: center;
    color:white;
    word-spacing: 2px;
    padding:0px 10px 0px 0px;
    margin:0px 0px 30px 0px;
    font-size: 25px;
    font-weight:bold;
    line-height:25px
}
.footer_2{
    font-family: 'Inter';
    text-align:justify;
    color:white;
    word-spacing: 2px;
    font-size: 18px;
    line-height:25px;
    padding:0px 40px 0px 40px;
    margin:0px 0px 30px 0px;
}
div.iconFooter{
    font-family:'Inter';
    text-align: center;
    word-spacing: 15px;
    font-size: 18px;
}
